*.suo
*.msi
*.wixobj
*.wixpdb
bin/
obj/
/packages/
.LodgeIC2.boltdata
TestResult.xml
Thumbs.db
setup_env.bat
*.VisualState.xml
*.user
.build
*.htm
*boltdata*
!/Lodgeic2/Printing/Templates/*.html
.vs*
LodgeIC2.csproj.DotSettings
pgpath.bat

