<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Product Id="*" Name="HOLMS Scheduler Background Service" Language="1033" Version="!(bind.FileVersion.Scheduler)" Manufacturer="shortbar" UpgradeCode="0b265212-33b0-4c29-88e4-0451c1775a08">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <Media Id="1" Cabinet="HOLMSServices.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="HOLMS.Scheduler_Install" Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="SchedulerService"/>
      <ComponentRef Id="RegistrySettings"/>
    </Feature>
  </Product>

  <Fragment>
    <Property Id="APPSVCIPPORTVALUE" Value="NotSet">
      <RegistrySearch Id="AppSvcIpPortLookup" Root="HKLM" Key="SOFTWARE\HOLMS\SchedulerSvc" Type="raw" Name="AppSvcIPPort" />
    </Property>
    <Property Id="SERVICEUSERNAMEVALUE" Value="NotSet">
      <RegistrySearch Id="ServiceUsernameRegistryLookup" Root="HKLM" Key="SOFTWARE\HOLMS\SchedulerSvc" Type="raw" Name="ServiceUsername"/>
    </Property>
    <Property Id="SERVICEPASSWORDVALUE" Value="NotSet">
      <RegistrySearch Id="ServicePasswordRegistryLookup" Root="HKLM" Key="SOFTWARE\HOLMS\SchedulerSvc" Type="raw" Name="ServicePassword"/>
    </Property>
    <Property Id="RABBITSERVICEDEPENDENCYVALUE" Value="RabbitMQ">
      <RegistrySearch Id="RabbitServiceDependencyLookup" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\HOLMSSchedulerService" Type="raw" Name="DependOnService" />
    </Property>
    <Property Id="APPLICATIONSERVICEDEPENDENCYVALUE" Value="HOLMSApplicationService">
      <RegistrySearch Id="ApplicationServiceDependencyLookup" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\HOLMSSchedulerService" Type="raw" Name="DependOnService" />
    </Property>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistrySettings" Guid="E9CE6A56-10F1-4A0F-9A49-8D3C3A8504EC" Permanent="yes" Win64="yes">
        <RegistryKey Root="HKLM" Key ="SOFTWARE\HOLMS\SchedulerSvc">
          <RegistryValue Type="string" Name="AppSvcIPPort" Value="[APPSVCIPPORTVALUE]" />
          <RegistryValue Type="string" Name="ServiceUsername" Value="[SERVICEUSERNAMEVALUE]" />
          <RegistryValue Type="string" Name="ServicePassword" Value="[SERVICEPASSWORDVALUE]" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key ="SYSTEM\CurrentControlSet\Services\HOLMSSchedulerService">
          <RegistryValue Type="multiString" Name="DependOnService">
            <MultiStringValue>[RABBITSERVICEDEPENDENCYVALUE]</MultiStringValue>
            <MultiStringValue>[APPLICATIONSERVICEDEPENDENCYVALUE]</MultiStringValue>
          </RegistryValue>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <PropertyRef Id="NETFRAMEWORK40CLIENTINSTALLROOTDIR64" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="HOLMS">
          <Directory Id="ServiceDirectory" Name="Scheduler" FileSource="..\HOLMS.Scheduler\bin\$(var.Configuration)\net471">
            <Component Id="SchedulerService" Guid="5772AD2E-20C4-49EE-A251-91CA3F171C69" Win64="yes">
              <File Name="Castle.Core.dll" />
              <File Name="Common.Logging.Core.dll" />
              <File Name="Common.Logging.dll" />
              <File Name="Google.Apis.Auth.dll" />
              <File Name="Google.Apis.Auth.PlatformServices.dll" />
              <File Name="Google.Apis.Core.dll" />
              <File Name="Google.Apis.dll" />
              <File Name="Google.Apis.PlatformServices.dll" />
              <File Name="Google.Protobuf.dll" />
              <File Name="Grpc.Auth.dll" />
              <File Name="Grpc.Core.dll" />
              <File Name="grpc_csharp_ext.x64.dll" />
              <File Name="HOLMS.Platform.dll" />
              <File Id="Scheduler" Name="HOLMS.Scheduler.exe" KeyPath="yes" DiskId="1"/>
              <File Name="HOLMS.Scheduler.exe.config" />
              <File Name="Microsoft.Extensions.Configuration.Abstractions.dll" />
              <File Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
              <File Name="Microsoft.Extensions.Logging.Abstractions.dll" />
              <File Name="Microsoft.Extensions.Logging.Console.dll" />
              <File Name="Microsoft.Extensions.Logging.dll" />
              <File Name="Microsoft.Extensions.Logging.EventLog.dll" />
              <File Name="Microsoft.Extensions.Options.dll" />
              <File Name="Microsoft.Extensions.Primitives.dll" />
              <File Name="Microsoft.IdentityModel.Logging.dll" />
              <File Name="Microsoft.IdentityModel.Tokens.dll" />
              <File Name="Moq.dll" />
              <File Name="Newtonsoft.Json.dll" />
              <File Name="NodaTime.dll" />
              <File Name="nunit.framework.dll" />
              <File Name="Quartz.dll" />
              <File Name="System.Data.Common.dll" />
              <File Name="System.Diagnostics.StackTrace.dll" />
              <File Name="System.Diagnostics.Tracing.dll" />
              <File Name="System.Globalization.Extensions.dll" />
              <File Name="System.IdentityModel.Tokens.Jwt.dll" />
              <File Name="System.Interactive.Async.dll" />
              <File Name="System.IO.Compression.dll" />
              <File Name="System.Net.Http.dll" />
              <File Name="System.Net.Sockets.dll" />
              <File Name="System.Runtime.CompilerServices.Unsafe.dll" />
              <File Name="System.Runtime.Serialization.Primitives.dll" />
              <File Name="System.Security.Cryptography.Algorithms.dll" />
              <File Name="System.Security.SecureString.dll" />
              <File Name="System.Threading.Overlapped.dll" />
              <File Name="System.Xml.XPath.XDocument.dll" />
              <File Name="Zlib.Portable.dll" />

              <ServiceInstall Id ="HOLMSSchedulerService" Name="HOLMSSchedulerService" Type="ownProcess"
                              DisplayName="HOLMS-Scheduler-Service" Start="auto" Account="NT AUTHORITY\LocalService" ErrorControl="normal"
                              Interactive="no" Vital="yes"
                              Description="Scheduler Service for the the HOLMS system.">
                <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType ="restart" RestartServiceDelayInSeconds ="10" />
              </ServiceInstall>
              <util:EventSource Name="Scheduler" Log="HOLMS"
                                EventMessageFile="[NETFRAMEWORK40CLIENTINSTALLROOTDIR64]EventLogMessages.dll"/>
              <ServiceControl Id="HOLMSSchedulerControl" Stop="uninstall" Remove="uninstall"
                              Name="HOLMSSchedulerService" Wait="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
